// Reset margin & paddings
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 0.1px dotted burlywood;
}

// Reset link formatting
a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
    font: inherit;
}