$dark_cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

$dark_blue: hsl(212, 21%, 14%);
$gray_blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$header_font: fraunces;
$body_font: montserrat;

$font_normal: 500;
$font_bold: 700;

%fully_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}